.container{
  min-height: 100vh;
  height: fit-content;
  background-color: #333;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.edit-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: auto; /* Asegura que sea clicable */
  }

  button[mat-icon-button] {
    pointer-events: auto; /* Permite que el botón sea clicable */
  }

form{
    display: flex !important;
    flex-direction: column !important;
}

mat-form-field{
    width: 30vw;
}