<div class="container">
    <h1>Bienvenido!</h1>
    <mat-card>
      <mat-card-title>
        Información de usuario
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="homeForm">
          
          <!-- Campo de nombre de usuario -->
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput placeholder="Crea tu usuario" formControlName="user" />
            
            <!-- Botón para guardar -->
            <button mat-icon-button *ngIf="isEditing['user']" (click)="saveEditing('user')" matTooltip="Guardar">
              <mat-icon>check</mat-icon>
            </button>

            <!-- Botón para cancelar -->
            <button mat-icon-button *ngIf="isEditing['user']" (click)="cancelEditing('user')" matTooltip="Cancelar">
              <mat-icon>cancel</mat-icon>
            </button>

            <!-- Botón para editar -->
            <button mat-icon-button *ngIf="!isEditing['user']" (click)="enableEditing('user')" matTooltip="Editar">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-form-field>



          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Tu nombre" formControlName="name" />
            
            <!-- Botón para guardar -->
            <button mat-icon-button *ngIf="isEditing['name']" (click)="saveEditing('name')" matTooltip="Guardar">
              <mat-icon>check</mat-icon>
            </button>

            <!-- Botón para cancelar -->
            <button mat-icon-button *ngIf="isEditing['name']" (click)="cancelEditing('name')" matTooltip="Cancelar">
              <mat-icon>cancel</mat-icon>
            </button>

            <!-- Botón para editar -->
            <button mat-icon-button *ngIf="!isEditing['name']" (click)="enableEditing('name')" matTooltip="Editar">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-form-field>



          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Tu apellido" formControlName="surname" />
            
            <!-- Botón para guardar -->
            <button mat-icon-button *ngIf="isEditing['surname']" (click)="saveEditing('surname')" matTooltip="Guardar">
              <mat-icon>check</mat-icon>
            </button>

            <!-- Botón para cancelar -->
            <button mat-icon-button *ngIf="isEditing['surname']" (click)="cancelEditing('surname')" matTooltip="Cancelar">
              <mat-icon>cancel</mat-icon>
            </button>

            <!-- Botón para editar -->
            <button mat-icon-button *ngIf="!isEditing['surname']" (click)="enableEditing('surname')" matTooltip="Editar">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-form-field>



          <mat-form-field appearance="outline" class="w-full">
            <mat-label>E-Mail</mat-label>
            <input matInput placeholder="Tu mail" formControlName="mail" />
            
            <!-- Botón para guardar -->
            <button mat-icon-button *ngIf="isEditing['mail']" (click)="saveEditing('mail')" matTooltip="Guardar">
              <mat-icon>check</mat-icon>
            </button>

            <!-- Botón para cancelar -->
            <button mat-icon-button *ngIf="isEditing['mail']" (click)="cancelEditing('mail')" matTooltip="Cancelar">
              <mat-icon>cancel</mat-icon>
            </button>

            <!-- Botón para editar -->
            <button mat-icon-button *ngIf="!isEditing['mail']" (click)="enableEditing('mail')" matTooltip="Editar">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-form-field>



          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Tu Contraseña" formControlName="pass" />
            
            <!-- Botón para guardar -->
            <button mat-icon-button *ngIf="isEditing['pass']" (click)="saveEditing('pass')" matTooltip="Guardar">
              <mat-icon>check</mat-icon>
            </button>

            <!-- Botón para cancelar -->
            <button mat-icon-button *ngIf="isEditing['pass']" (click)="cancelEditing('pass')" matTooltip="Cancelar">
              <mat-icon>cancel</mat-icon>
            </button>

            <!-- Botón para editar -->
            <button mat-icon-button *ngIf="!isEditing['pass']" (click)="enableEditing('pass')" matTooltip="Editar">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-form-field>
  




          <mat-card-actions>
            <button mat-flat-button type="submit" [disabled]="!isEditing">Guardar Cambios</button>
            <button mat-flat-button [routerLink]="['/login']">Volver</button>
          </mat-card-actions>
  
          <!-- Mensaje de éxito -->
          <div *ngIf="successMessage" class="success-message">
            {{ successMessage }}
          </div>
  
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  